<h1>My Classes</h1>

<%= will_paginate %>

<ul class="users">
	<%= render @groups %>
	<% if current_user.admin? %>
	
<% end %>
</ul>

<%= will_paginate %>

<p><%= link_to 'New Class', new_group_path %></p>