<h1>About the M-Ubuntu LMS</h1> <p>
This application was built for the M-Ubuntu Literacy Project.  It's goal is to encourage
the building of literacy and technology skills by utilizing social media and
asynchronous environments. 
</p>