<h1>Help</h1> <p>
Remember, if you don't have a login, check with your teacher. Otherwise, login with
your username and password.
</p>

<p>
  This can be the English resource page at which students can access all English resources that the
  M-ubuntu group provides.
</p>
