
<h1>Sample App</h1>

<p>
Contact Ruby on Rails Tutorial about the sample app at the
<a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
  sample application
</p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>